html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
  border: 2px solid white;
  border-radius: 2rem;
  background-color: white;
  }
.logobar {
  text-align: center;
  background-color: white;
}
.logo {
  text-align: center;
  display: inline;
}
nav {
  font-family: Arial;
  background-color: white;
  border: 0px solid #156556;
  border-radius: 10rem;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  border: 0px solid orange;
  padding: 0;
  margin: .3rem;
  color: #2A725A;
  font-weight: bold;
  font-size: 1.8rem;
}
nav a{
  display: block;
  border: 0px solid yellow;
  padding: 1rem;
  color: #156556;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}
nav a:hover {
  background-color: #156556;
  color: white;

}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #533D50;
  color: #156556;
}
label {
  display: block;
  padding: 0.3rem;
}
.form {
  display: flex;
  flex-flow: row nowrap;

}
section {
  display: block;
  padding: 0.5rem;
  flex-basis: 40%;
  justify-content: space-around;
}
aside {
  text-align: center;
  flex-basis: 60%;
}